body{
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    width: 1440px;
    font-family: 'Outfit', sans-serif;  
    
}
h2{
    width: 100%;
    margin: auto; 
    color:hsl(218, 44%, 22%); 
    
}
p{
    width:80%;
    margin:15px auto;
    color: hsl(220, 15%, 55%);   
}
.top-content{
    background-color:  hsl(0, 0%, 100%);
    width: 22%;
    margin:100px auto;
    height: 500px;
    border-radius: 15px;
}
img{
    width: 280px;
    height: 280px;
    margin:20px auto;
    border-radius: 10px;
}
